select {
  border: none;
  width: 100%;
  font-weight: 700;
  box-shadow: 0 1px 3px -2px #9098a9;
  transition: all 150ms ease;
  padding: 5px;
}

.theme-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-container-header h3 {
  color: var(--color-on-background);
}
