.app {
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  height: 100%;
}

.app header {
  padding: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.app header h2 {
  font-weight: 500;
  color: var(--color-on-background);
  font-size: 15px;
}
