aside {
  height: 100%;
  display: flex;
  background-color: var(--color-background);
}

aside .aside-nav {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100%;
}

.aside-nav button {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(163, 163, 163);
  padding-top: 10px;
  padding-bottom: 10px;
}

.aside-nav button.is_active {
  color: var(--color-on-background);
  background-color: var(--color-surface);
}

.logo {
  color: #3700b3;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo svg {
  width: 100%;
  height: 40px;
}

.hidden {
  display: none;
  visibility: none;
}

.aside-bar {
  background-color: var(--color-surface);
  width: 250px;
  padding: 10px;
  overflow-y: scroll;
  height: 100vh;
}

aside span {
  color: var(--color-on-background);
  font-weight: 700;
  font-size: 10px;
}

form.file-upload {
  align-self: self-end;
  position: absolute;
  top: 95%;
}

label {
  color: var(--color-primary-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.media-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.media-container h2 {
  color: var(--color-on-background);
  font-size: 15px;
  font-weight: 500;
}

.video-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 100%;
  background-color: var(--color-background);
  border-radius: 4px;
}

.video-card span {
  color: var(--color-on-background);
}

.video-thumbnail {
  width: 100%;
  display: block;
  height: 153px;
  object-fit: contain;
}

.selected-thumbnail {
  border: 4px solid green;
}

.search-container {
  position: relative;
}

.search-container input[type="search"] {
  border: 1px solid rgb(233, 210, 210);
  padding: 10px 30px 5px 10px;
  background-color: transparent;
  color: var(--color-on-background);
  font-weight: 600;
  border-radius: 4px;
}

.search-container input[type="search"]:focus {
  outline: none;
}

.search-container {
  color: var(--color-on-background);
}

.search-container svg {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.aside-bar header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
