<aside class="sidebar">
	<nav class="sidebar-nav">
		@for (item of sidebarItems; track $index) {
		<button
			[class]="item.class"
			[ngClass]="{ is_active: item.isActive }"
			[id]="item.id"
			(click)="toggleActiveSideBarView(item, item.action)"
		>
			<svg-icon [src]="item.svg"></svg-icon>
		</button>
		}
	</nav>

	<div [ngClass]="shouldShowAsideBar ? 'aside-bar' : 'hidden'">
		<div
			[ngClass]="
				currentSidebarView == actions.showUploadedVideos
					? 'videos-container'
					: 'hidden'
			"
		>
			@for (item of videoCoverUrls; track $index) {
			<div>
				<button class="video-card" (click)="setSelectedVideo($index)">
					<img [src]="item" srcset="" class="video-thumbnail" />
				</button>
			</div>
			}

			<form class="file-upload">
				<label for="fileInput">
					<svg
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						width="30"
						height="30"
						fill="currentColor"
						viewBox="0 0 24 24"
					>
						<path
							fill-rule="evenodd"
							d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z"
							clip-rule="evenodd"
						/>
					</svg>
				</label>
				<input
					type="file"
					id="fileInput"
					class="hidden"
					accept="video/mp4"
					(change)="onUploadFile($event)"
				/>
			</form>
		</div>

		<div [ngClass]="currentSidebarView == actions.showSettings ? '' : 'hidden'">
			<app-theme-switcher />
		</div>
	</div>
</aside>
