main {
  width: 100%;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  height: 500px;
  border-width: 1px;
  border-radius: 4px;
  overflow: hidden;
}

video {
  height: 100%;
  min-width: 100%;
  object-fit: contain;
  display: inline-block;
}
